.mainTable {
    width: 100%;
    border-collapse: collapse;
    background-color: var(--dark-gray-color);
    color: white;
}

.mainTable thead {
    background-color: var(--darkest-gray-color);
    color: white;
    height: 2rem;
    position: sticky;
    top: 0;
}

.mainTable thead th {
    min-width: 5rem;
}

.mainTable tbody tr {
    height: 3rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: all 0.2s ease-in-out;
}

.mainTable tbody tr:hover {
    cursor: pointer;
    background-color: white;
    color: black;
}

.selectedRow {
    background-color: var(--darker-gray-color) !important;
    color: white !important;
    font-weight: 600;
}

.noData {
    font-size: larger;
    font-weight: 600;
}