.customAlert {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    justify-content: center;
    align-items: center;
    z-index: 999;
}

.customAlertContent {
    max-width: 80vw;
    background-color: white;
    border-radius: 0.5rem;
    text-align: center;
    box-shadow: 0rem 0rem 0.625rem #0000004d;
    display: grid;
    grid-template-rows: auto auto;
}

.header {
    margin: 0;
    font-size: 1.125rem;
    font-weight: 600;
    margin-bottom: 0.625rem;
    width: 100%;
    border-radius: 0.5rem 0.5rem 0rem 0rem;
    height: 3rem;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--dark-component-color);
}

.bottomContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    padding-inline: 1rem;
    padding-bottom: 1rem;
    color: black;
}

.submessage {
    color: black;
    font-weight: 500;
}

.customAlertOkButton {
    height: 4vh;
    width: 6rem;
    align-items: center;
    appearance: none;
    border-radius: 0.25rem;
    border-style: none;
    box-shadow: #00000033 0 0.188rem 0.063rem -0.125rem, #00000024 0 0.125rem 0.125rem 0, #0000001f 0 0.063rem 0.313rem 0;
    box-sizing: border-box;
    color: white;
    cursor: pointer;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: .875rem;
    font-weight: 600;
    height: 2.25rem;
    justify-content: center;
    letter-spacing: .0892857em;
    line-height: normal;
    min-width: 4rem;
    outline: none;
    overflow: visible;
    padding: 0 1rem;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(.4, 0, .2, 1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
    will-change: transform, opacity;
    background-color: var(--dark-component-color);
    transition: all 0.2s ease-in-out;
}

.customAlertOkButton:hover {
    box-shadow: #00000033 0 0.125rem 0.25rem -0.063rem, #00000024 0 0.25rem 0.313rem 0, #0000001f 0 0.063rem 0.625rem 0;
}

.customAlertOkButton:focus {
    box-shadow: #00000033 0 0.125rem 0.25rem -0.063rem, #00000024 0 0.25rem 0.313rem 0, #0000001f 0 0.063rem 0.625rem 0;
}

.customAlertOkButton:active {
    box-shadow: #00000033 0 0.313rem 0.313rem -0.188rem, #00000024 0 0.5rem 0.625rem 0.063rem, #0000001f 0 0.188rem 0.875rem 0.125rem;
    background: var(--darker-gray-color);
}

.yesNoButtons {
    display: flex;
    gap: 1rem;
}