.multiselect {
    cursor: pointer;
    background-color: red;
    position: relative;
    border-radius: .5rem;
    width: 25.5vw;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
}

.selectBox {
    height: 100%;
}

.selectBox select {
    width: 100%;
    height: 100%;
    font-weight: bold;
    border: none;
    border-radius: .5rem;
    padding: .5rem; /* Add padding for better appearance */
    outline: none; /* Remove default focus outline */
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

.checkboxes {
    display: none;
    border: .0625rem var(--shaded-white-color) solid;
    position: absolute;
    top: calc(100% + .0625rem); /* Position dropdown below select box */
    width: 100%; /* Make dropdown width same as select box */
    background-color: white; /* Background color for dropdown */
    border-radius: .5rem;
    box-shadow: 0 .125rem .25rem rgba(0, 0, 0, 0.1);
    z-index: 1;
    height: 8rem;
    overflow-y: auto;
}

.checkboxes::-webkit-scrollbar {
    width: 0.5rem;
}

.checkboxes::-webkit-scrollbar-thumb {
    border-radius: 1rem;
    background-color: var(--dark-gray-color);
}

.checkboxes::-webkit-scrollbar-track {
    border-radius: 1rem;
    background-color: var(--medium-gray-color);
}

.checkboxes label {
    cursor: pointer;
    text-align: initial;
    display: block;
    padding: .5rem; /* Add padding for better appearance */
}

.checkboxes label:hover {
    background-color: var(--light-gray-color);
}

@media screen and (max-width: 480px) {
    .multiselect {
        width: calc(100vw - 1rem);
    }
}