.fullscreen {
    display: flex;
    flex-direction: column;
    height: calc(100vh - 6%);
}

.topContainer {
    display: flex;
    align-items: center;
    height: 3rem;
    background-color: var(--dark-gray-color);
}

.searchBox {
    position: relative;
    margin-inline: 1rem;
    height: 70%;
    width: 100%;
}

.searchIcon {
    position: absolute;
    top: 50%;
    left: 1%;
    transform: translateY(-50%);
    fill: black;
    width: 1rem;
    height: 1rem;
}

.searchInput {
    height: 100%;
    width: 100%;
    border-radius: 0.5rem;
    border: none;
    box-shadow: #ffffff33 0rem 0rem 0rem 0.063rem inset, gray 0rem 0rem 0rem 0.063rem;
    padding-left: 2.5rem;
    box-sizing: border-box;
}

.searchInput:focus {
    box-shadow: #5ea0eb66 0rem 0rem 0rem 0.125rem, #06182ca6 0rem 0.25rem 0.375rem -0.063rem, #ffffff14 0rem 0.063rem 0rem inset;
    outline: none;
}

.mainSection {
    flex-grow: 1;
}

.singleEntry {
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 1rem;
    height: 3rem;
    box-shadow: #5a5b5e40 0rem .0625rem .0625rem, #4e4f5021 0rem 0rem .0625rem .0625rem;
    transition: all 0.2s ease-in-out;
}

.singleEntry:hover {
    background-color: var(--dark-gray-color-2);
}

.singleEntry .heading {
    font-size: large;
    font-weight: 600;
}

.deleteButton {
    cursor: pointer;
    border: none;
    border-radius: 0.5rem;
    background-color: var(--dark-gray-color);
    color: white;
    width: 2rem;
    height: 2rem;
    box-shadow: #00000040 0rem 0.0625em 0.0625em, #00000040 0rem 0.125em 0.5em, #ffffff1a 0rem 0rem 0rem .0625rem inset;
    transition: all 0.2s ease-in-out;
}

.deleteButton:active {
    background-color: var(--darker-component-color);
    box-shadow: #32326926 0rem .125rem .3125rem 0rem, #0000000d 0rem .0625rem .0625rem 0rem;
}

.pagination {
    padding-right: 1rem;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}

.bottomContainer {
    height: 3rem;
    padding-right: 1rem;
    background-color: var(--dark-gray-color);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 1rem;
}