body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --darkest-gray-color: #1f1f1f;
  --darker-gray-color: #2b2b2b;
  --dark-gray-color-2: #333333;
  --dark-gray-color: #444444;
  --medium-gray-color: #979797;
  --light-gray-color: #e8e8e8;
  --login-background: #000000;
  --button-medium-color: #DA251C;
  --button-light-color: #ff7070;
  --darker-component-color: #a30000; /* #700000 */
  --dark-component-color: #DA251C;
  --medium-component-color: #d65050;
  --light-component-color: #f0c5c5;
  --light-component-hover-color: #ffeaea; /* #fde5e5 */
  --lighter-component-color: #fff4f4;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
